body{    
    background-color: #141414;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    
}

body, .courses{
    background-color: #141414;
}
.card-body{
    background-color: #8c52ff;
}
.courses .container{
    background-color: #141414;
          color: white;
          margin-top: 40px;
          border-top: #8c52ff solid;
          border-bottom: #8c52ff solid;
          padding-bottom: 50px;

}

.section-header{
            font-size: xx-large;
            font-weight: bolder;
            text-align: center;
            padding-top: 30px;
          

}
.line{
    margin-bottom: 50px;
}
.jumbotron{
    background-image: url('OtherContents/images/giff.gif');
          color: white;
          padding-top: 200px;
          padding-bottom: 200px;
          background-repeat: no-repeat;
          background-color: #141414;
          background-position: right 70%;
          background-size: 1600px 1200px;

}
.title{
    width: 50%;

}
.title h1{
    font-weight:bolder;
}

.title p{
    padding-top: 20px ;
    padding-bottom: 20px;

}

.title a{
    background-color: #8c52ff;
    color: #fff;
}

section {
    background-color: #8c52ff;
    display: grid;
    place-items: center;
    height: 100vh;
    
}
.section-header{
    position: relative;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 25px;
    

}
.section-header:after{
    content: '';
    height: 3px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
    background: #ffca2c;
    border-radius: 5px;
}
.section-header span {
    display: block;
    font-size: 15px;
    font-weight: 300;
    padding-top: 30px;
}
.testimonials{
    max-width: 1000px;
    padding: 0 15px 50px;
    margin: 0 auto 80px auto;
}
.single-item{
    background: #fff;
    color: #111;
    padding: 15px;
    background-color: rgb(69, 67, 67);
    margin: 50px 15px;
    color: white;
    border-radius: 25px;
}
.profile{
    margin-bottom: 30px;
    text-align: center;    
}
.img-area {
    margin: 0 15px 15px 15px;
}
.img-area img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 7px solid #8c52ff;
    object-fit: cover;
}
.content{
    font-size: 18px;
}
.content p {
    text-align: justify;
}
.content p span {
    font-size: 48px;
    margin-right: 20px;
    color: #8c52ff;
}
.socials i {
    margin-right: 25px;
}
.bio h4 {
    font-family: 'Berkshire Swash', cursive;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #8c52ff;
}